temp/
node_modules/
dist/
target/
.DS_Store
.idea/
.vscode/
.kiro
*.log
.env
*.local
coverage/
tmp/
vendor/
backend/cache/images/
backend/cache/images/plex/
.expo
*.md
.build
build
*.dylib
*.sqlite*
deps/
Pods/
*.xcodeproj
*.aar
libmpv/
*.apk